.card canvas {
  min-height: 220;
  width: auto;
}
.card .canvas-holder {
  max-height: 215;
  overflow: hidden;
}

/* mobile phone */
@media all and (max-width: 768px) {
  .card .canvas-holder {
        display: none;
    }
}
