<!DOCTYPE HTML>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style-wide.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v8.css" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <!-- Main -->
      <div >
      	<section id="blog" class="four">
<!-- Content -->
          <div id="content">
            <div class="inner">
          
              {{ content }}

            </div>
          </div>
		   </section>
		</div>
    <!-- Footer -->
      <div id="footer">
        
        <!-- Copyright -->
          <ul class="copyright">
            <li>Wilfried Hounyo</li><li><a href="https://github.com/wilfriedE">wilfriedE</a></li>
          </ul>
        
      </div>

    {% include analytics.html %}
  </body>
</html>
