<!DOCTYPE HTML>
<!--
......................................Looking for a great Internship................................

``.``.+++++-````````````````````````````.`````````````````````.`````````````````.```.```````:++++:``
`````.++++/``````````````````````````````````````````````````````````````````````````````````:+++-``
`````./++++::-`````````````````````.````.`````````````````````.`````````````````````.```````./+++-``
`````./+++++:.```````````````````````````````````````````````````````````````````````````````/+++-``
`````./++++/.`````````````....````````````````````````````````.``````````..........`..```````-+++.``
``.```-++++/`.``````..-://++++/++++/:---:::-``````````````````.`-:-.://+++++++++++++++/--````.++:.``
``````.++++:``````.-+++++/++++++++++++++++++:.````````````````.`:+//+++++++++++++++++++++:```-++:```
``````.++++:``````:+++++-....-://///++++++/-.```````````````````./++++++++//:::-....:-++++-``-++-```
``.```.:+++:`.```.-:-....````.`............```.````.``````````.`.............```````..-/:..``-++.```
``.````./++:`.`````````````````````.````.````-.````.`````````.:/:.```````.``````````.``.`````.++.```
``.`````-++-`.````.`````.````.`````.`.-.-..``--.```.````````.:++:`....```.``````````.```````.:+:````
``.`````-+/.`.````...-::::.``.```..--:++++/.`...```.`````.``:+/-.-/:----:--.-.....:///:::.``.:+:````
``.`````/++-`.````.//++++/////////+++/----/-``.````.````````-+:`.//-.../+++++++++++++++++/.`-/+:````
``.````./++:`.````...-:///+++++++////:.`.`...`.````.`````.``.-+:.....``-:///+++++++++::-...`.:+:````
``.````.-++:`.````.`.``...-...........``.`````.````.`````.````-+:.`..```....--:-----..`````.:++:````
``.````.`:+:`.````.`````.````.`````.````.`````.````.`````.````../:```````.````..````.``````-+++:````
`..```...:+/..````.`.```..```.`.```.````.```...```..```...```...:/-...```.`.``..````.```..../++:````
``.````.`/+/..````.`````.````.`````.````.`````.````.`````.````.:-//-`````.`````.````.````..-/++.````
``.````..:+:..````.`.```.````.`````.````.----...```.```...````.:+++/..```.````..````.````..+++/.````
`.........:.............................-/+:---.................----......................./++-.....
``.```..../.`.````...```..```.`.```..`.-:......```..```...````.````..````.`.``..````.```..../+-..```
`.........-:..................`........-..................................`................./+......
`....`...--:..`..`........`...`......`....................`...............``......`.....`.:/+/..`...
`........:++-.............`..............-://///+/:-...`...--/////:/::::/.........`.......-++-......
`.........//--.........................-/++++++//+++:----:/+++:-::---/++/................./++.......
`........../+:-..........................:::::-....--::://:::...----::::-................./+:.......
`........``.--............................................`............................./:++:.......
`..........-...........................................................................//+++-.......
`...........-..........................................................................++++/........
`......................................................................................+++/.........
`............:/.......................................................................-++/-.........
`............::.................:/:.....--:--:::-........----:::/:-----...-/-.....``-/:++-..........
`.............--.................://////+++++++++/++//:/+++++++++++++++++++++........:++:...........
`.............-++...................---....-------://///////::::-------:/:---........++:............
`..............-+:.................................................................-:+/.............
`...............-/--...........................................................-::+++/-.............
`................./++:.............................................-:........../+++/:...............
`..................++--.........................................::/+:.........-+++:.................
`................../++//--....................:///:/:::::::://++++/:.........:+++-..................
`..................//--/+:/+....................---::::::///////:-.........-/+++-...................
`..................-....-///:-.............................................:++/-....................
`..............-://......../++/:..........................................:++:.........-............
`............:/+++/........--/++:..........................................--.......................
`..........-/+:..:-...........:/+:-.......................................-+++++//:-................
`........../:...................-++:.....................................-++++++++++/-..............
`................................/+++:................:--..............-:-::-://++++++--:...........
`..................................-+++:-.............................:/++/-.....//++++:............
`...................................---/++:::-..................-/::..-/++:........-:-:-............
`.......................................:-/++++/:::--:---------//+/-.-.../+//--.-...................
`........................................-./++++++++++++++++++/:.....::..--:/-..-...................
`...........................................-..---/+:++++/::--:........:-...........................
....................................................................................................
....................................................................................................
​......................................Take wise risks. Learn from Mistakes..........................
-->
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style-wide.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v8.css" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

  <!-- Header -->
      <div id="header" class="skel-layers-fixed">

        <div class="top">

          <!-- Logo -->
            <div id="logo">
              <span class="image avatar48"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
              <h1 id="title">Wilfried Hounyo (<a href="https://github.com/wilfriedE">wilfriedE</a>) </h1>
              <p>Studying @ <a href="https://www.rit.edu">RIT</a></p>
            </div>

          <!-- Nav -->
            <nav id="nav">
              <!--
              
                Prologue's nav expects links in one of two formats:
                
                1. Hash link (scrolls to a different section within the page)
                
                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
              
              -->
              <ul>
                <li><a href="{{ site.baseurl }}/#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">__init__</span></a></li>
                <!--<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>-->
                <li><a href="{{ site.baseurl }}/#blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-leaf">blog()</span></a></li>
                 <li><a href="{{ site.baseurl }}/about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">self()</span></a></li>
                 <li><a href="{{ site.baseurl }}/hacks" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-code">hackathons()</span></a></li>
                <li><a href="https://drive.google.com/file/d/0B69iLxjB_oRDWVNFelR0bFZReDA/view?usp=sharing" id="about-link" target="blank" class="skel-layers-ignoreHref"><span class="icon fa-file-text">resume()</span></a></li>
                <!--<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>-->
              </ul>
            </nav>
            
        </div>
        
        <div class="bottom">

          <!-- Social Icons -->
            <ul class="icons">
              <li><a href="https://twitter.com/w_esperat" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="http://www.linkedin.com/pub/wilfried-hounyo/56/343/224" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
              <li><a href="https://github.com/wilfriedE" class="icon fa-github"><span class="label">Github</span></a></li>
              <li><a href="https://plus.google.com/+WilfriedHounyo" class="icon fa-google-plus"><span class="label">Google Plus</span></a></li>
              <li><a href="mailto:wilfried.hounyo@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
          <iframe src="https://embed.spotify.com/?uri=spotify:user:1241690100:playlist:0BzTZZ2TiUtZyxL4xc8MHi" frameborder="0" allowtransparency="true" width="255" height="80"></iframe>
        </div>
      
      </div>

    <!-- Main -->
      <div id="main">
          
        <!-- Portfolio 
          <section id="portfolio" class="two">
            <div class="container">
          
              <header>
                <h2>Portfolio</h2>
              </header>
              
              <p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
              egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
              Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis 
              fusce hendrerit lacus ridiculus.</p>
            
              <div class="row">
                <div class="4u">
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
                    <header>
                      <h3>Ipsum Feugiat</h3>
                    </header>
                  </article>
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
                    <header>
                      <h3>Rhoncus Semper</h3>
                    </header>
                  </article>
                </div>
                <div class="4u">
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
                    <header>
                      <h3>Magna Nullam</h3>
                    </header>
                  </article>
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                    <header>
                      <h3>Natoque Vitae</h3>
                    </header>
                  </article>
                </div>
                <div class="4u">
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                    <header>
                      <h3>Dolor Penatibus</h3>
                    </header>
                  </article>
                  <article class="item">
                    <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
                    <header>
                      <h3>Orci Convallis</h3>
                    </header>
                  </article>
                </div>
              </div>

            </div>
          </section>-->


          <section id="blog" class="four">
          <div id="content">
            <div class="inner">
          
              {{ content }}

            </div>
          </div>
          </section>


        <!-- Contact
          <section id="contact" class="four">
            <div class="container">

              <header>
                <h2>Contact</h2>
              </header>

              <p>Elementum sem parturient nulla quam placerat viverra 
              mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia 
              donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc 
              orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>
              
              <form method="post" action="#">
                <div class="row half">
                  <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                  <div class="6u"><input type="text" name="email" placeholder="Email" /></div>
                </div>
                <div class="row half">
                  <div class="12u">
                    <textarea name="message" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="12u">
                    <input type="submit" value="Send Message" />
                  </div>
                </div>
              </form>

            </div>
          </section> -->
      
      </div>

    <!-- Footer -->
      <div id="footer">
        
        <!-- Copyright -->
          <ul class="copyright">
            <li>Wilfried Hounyo</li><li><a href="https://github.com/wilfriedE">wilfriedE</a></li>
          </ul>
        
      </div>

    {% include analytics.html %}
  </body>
</html>
