<!DOCTYPE HTML>
<!--
......................................Looking for a great Internship................................

``.``.+++++-````````````````````````````.`````````````````````.`````````````````.```.```````:++++:``
`````.++++/``````````````````````````````````````````````````````````````````````````````````:+++-``
`````./++++::-`````````````````````.````.`````````````````````.`````````````````````.```````./+++-``
`````./+++++:.```````````````````````````````````````````````````````````````````````````````/+++-``
`````./++++/.`````````````....````````````````````````````````.``````````..........`..```````-+++.``
``.```-++++/`.``````..-://++++/++++/:---:::-``````````````````.`-:-.://+++++++++++++++/--````.++:.``
``````.++++:``````.-+++++/++++++++++++++++++:.````````````````.`:+//+++++++++++++++++++++:```-++:```
``````.++++:``````:+++++-....-://///++++++/-.```````````````````./++++++++//:::-....:-++++-``-++-```
``.```.:+++:`.```.-:-....````.`............```.````.``````````.`.............```````..-/:..``-++.```
``.````./++:`.`````````````````````.````.````-.````.`````````.:/:.```````.``````````.``.`````.++.```
``.`````-++-`.````.`````.````.`````.`.-.-..``--.```.````````.:++:`....```.``````````.```````.:+:````
``.`````-+/.`.````...-::::.``.```..--:++++/.`...```.`````.``:+/-.-/:----:--.-.....:///:::.``.:+:````
``.`````/++-`.````.//++++/////////+++/----/-``.````.````````-+:`.//-.../+++++++++++++++++/.`-/+:````
``.````./++:`.````...-:///+++++++////:.`.`...`.````.`````.``.-+:.....``-:///+++++++++::-...`.:+:````
``.````.-++:`.````.`.``...-...........``.`````.````.`````.````-+:.`..```....--:-----..`````.:++:````
``.````.`:+:`.````.`````.````.`````.````.`````.````.`````.````../:```````.````..````.``````-+++:````
`..```...:+/..````.`.```..```.`.```.````.```...```..```...```...:/-...```.`.``..````.```..../++:````
``.````.`/+/..````.`````.````.`````.````.`````.````.`````.````.:-//-`````.`````.````.````..-/++.````
``.````..:+:..````.`.```.````.`````.````.----...```.```...````.:+++/..```.````..````.````..+++/.````
`.........:.............................-/+:---.................----......................./++-.....
``.```..../.`.````...```..```.`.```..`.-:......```..```...````.````..````.`.``..````.```..../+-..```
`.........-:..................`........-..................................`................./+......
`....`...--:..`..`........`...`......`....................`...............``......`.....`.:/+/..`...
`........:++-.............`..............-://///+/:-...`...--/////:/::::/.........`.......-++-......
`.........//--.........................-/++++++//+++:----:/+++:-::---/++/................./++.......
`........../+:-..........................:::::-....--::://:::...----::::-................./+:.......
`........``.--............................................`............................./:++:.......
`..........-...........................................................................//+++-.......
`...........-..........................................................................++++/........
`......................................................................................+++/.........
`............:/.......................................................................-++/-.........
`............::.................:/:.....--:--:::-........----:::/:-----...-/-.....``-/:++-..........
`.............--.................://////+++++++++/++//:/+++++++++++++++++++++........:++:...........
`.............-++...................---....-------://///////::::-------:/:---........++:............
`..............-+:.................................................................-:+/.............
`...............-/--...........................................................-::+++/-.............
`................./++:.............................................-:........../+++/:...............
`..................++--.........................................::/+:.........-+++:.................
`................../++//--....................:///:/:::::::://++++/:.........:+++-..................
`..................//--/+:/+....................---::::::///////:-.........-/+++-...................
`..................-....-///:-.............................................:++/-....................
`..............-://......../++/:..........................................:++:.........-............
`............:/+++/........--/++:..........................................--.......................
`..........-/+:..:-...........:/+:-.......................................-+++++//:-................
`........../:...................-++:.....................................-++++++++++/-..............
`................................/+++:................:--..............-:-::-://++++++--:...........
`..................................-+++:-.............................:/++/-.....//++++:............
`...................................---/++:::-..................-/::..-/++:........-:-:-............
`.......................................:-/++++/:::--:---------//+/-.-.../+//--.-...................
`........................................-./++++++++++++++++++/:.....::..--:/-..-...................
`...........................................-..---/+:++++/::--:........:-...........................
....................................................................................................
....................................................................................................
​......................................Take wise risks. Learn from Mistakes..........................
-->
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/style-wide.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v8.css" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

  <!-- Header -->
      <div id="header" class="skel-layers-fixed">

        <div class="top">

          <!-- Logo -->
            <div id="logo">
              <span class="image avatar48"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
              <h1 id="title">Wilfried Hounyo (<a href="https://github.com/wilfriedE">wilfriedE</a>) </h1>
              <p>Studying @ <a href="https://www.rit.edu">RIT</a></p>
            </div>

          <!-- Nav -->
            <nav id="nav">
              <!--
              
                Prologue's nav expects links in one of two formats:
                
                1. Hash link (scrolls to a different section within the page)
                
                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
              
              -->
              <ul>
                <li><a href="{{ site.baseurl }}/#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">__init__</span></a></li>
                <!--<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>-->
                <li><a href="{{ site.baseurl }}/#blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-leaf">blog()</span></a></li>
                 <li><a href="{{ site.baseurl }}/about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">self()</span></a></li>
                 <li><a href="{{ site.baseurl }}/hacks" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-code">hackathons()</span></a></li>
                <li><a href="https://drive.google.com/file/d/0B69iLxjB_oRDWVNFelR0bFZReDA/view?usp=sharing" id="about-link" target="blank" class="skel-layers-ignoreHref"><span class="icon fa-file-text">resume()</span></a></li>
                <!--<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>-->
              </ul>
            </nav>
            
        </div>
        
        <div class="bottom">

          <!-- Social Icons -->
            <ul class="icons">
              <li><a href="https://twitter.com/w_esperat" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="http://www.linkedin.com/pub/wilfried-hounyo/56/343/224" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
              <li><a href="https://github.com/wilfriedE" class="icon fa-github"><span class="label">Github</span></a></li>
              <li><a href="https://plus.google.com/+WilfriedHounyo" class="icon fa-google-plus"><span class="label">Google Plus</span></a></li>
              <li><a href="mailto:wilfried.hounyo@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
          <iframe src="https://embed.spotify.com/?uri=spotify:user:1241690100:playlist:0BzTZZ2TiUtZyxL4xc8MHi" frameborder="0" allowtransparency="true" width="255" height="80"></iframe>
        </div>
      
      </div>

    <!-- Main -->
      <div id="main">
      	<section id="blog" class="four">
<!-- Content -->
          <div id="content">
            <div class="inner">
          
              {{ content }}

            </div>
          </div>
		   </section>
		</div>
    <!-- Footer -->
      <div id="footer">
        
        <!-- Copyright -->
          <ul class="copyright">
            <li>Wilfried Hounyo</li><li><a href="https://github.com/wilfriedE">wilfriedE</a></li>
          </ul>
        
      </div>

    {% include analytics.html %}
  </body>
</html>
