---
layout: page
---
         <article class="box post post-excerpt">
                  <header>
                    <h2><a href="#">{{ page.title }}</a></h2>
                    <p>Feugiat interdum sed commodo ipsum consequat dolor nullam metus</p>
                  </header>
                  <div class="info">
                    <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
                   <!--   <ul class="stats">
                      <li><a href="#" class="icon fa-comment">16</a></li>
                      <li><a href="#" class="icon fa-heart">32</a></li>
                      <li><a href="#" class="icon fa-twitter">64</a></li>
                      <li><a href="#" class="icon fa-facebook">128</a></li>
                    </ul> -->
                  </div>
                  <p>{{ content }}</p>
                  <div class="disqus">
                   {% include disqus.html disqus_identifier=page.disqus_identifier %}
                   </div>
        </article>