<div class="well well-sm " style="height:100px">
  <div class="card z-depth-5 flex-center ">
      <div class="card-block ">
          <h4 class="card-title">
            <a class="btn btn-info-outline waves-effect" routerLink="/portfolio">Projects</a>
            <a class="btn btn-info-outline waves-effect" routerLink="/experience">Experience</a>
          </h4>
      </div>
  </div>
</div>

<div class="well well-lg  ">

  <h4 class=" col-md-12 btn btn-secondary btn-lg waves-effect waves-light">Please refer to me LinkedIn account for more info</h4>
  <!--Card-->
  <div class="card">

      <!--Card image-->
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block" style="text-align:center">
          <!--Title-->
          <h4 class="card-title"><a href="https://www.linkedin.com/in/wilfried-hounyo-22434356" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> or https://www.linkedin.com/in/wilfried-hounyo-22434356</h4>
      </div>
      <!--/.Card content-->

  </div>
</div>
