<div class="card-group">
    <div id="portfolio-nav" class="card">
        <div  class="img-fluid canvas-holder"><canvas id="portfolio-canvas"></canvas></div>
        <div class="card-block">
            <h4 class="card-title"><a class="btn btn-primary-outline waves-effect" routerLink="/portfolio">Resume/Portfolio</a></h4>
            <p class="card-text">Here are some things I've done and am working on.</p>
            <p class="card-text"><small class="text-muted">Source: https://git.io/vPvHj</small></p>
        </div>
    </div>
    <div id="blog-nav" class="card">
        <div class="img-fluid canvas-holder"><canvas id="blog-canvas" class="img-fluid"></canvas></div>
        <div class="card-block">
            <h4 class="card-title"><a class="btn btn-primary-outline waves-effect" target="_blank" href="http://blog.wilfriede.me">Blog</a></h4>
            <p class="card-text">Sometimes I write things, sometimes relating to projects I am working on, and sometimes random :| </p>
            <p class="card-text"><small class="text-muted">Source: https://github.com/TryGhost/Ghost</small></p>
        </div>
    </div>
    <div class="card">
        <div  class="canvas-holder"><img class="img-fluid" src="images/wilfriedE.JPG" alt="Card image cap"></div>
        <div class="card-block">
            <h4 class="card-title"><a class="btn btn-primary-outline waves-effect" routerLink="/introduction">About me</a></h4>
            <p class="card-text">Get to know me a little better :)</p>
            <p class="card-text"><small class="text-muted">Source: https://git.io/vPvHA</small></p>
        </div>
    </div>
    <div id="playground-nav" class="card">
        <div class="img-fluid canvas-holder"><canvas id="playground-canvas" class="img-fluid"></canvas></div>
        <div class="card-block">
            <h4 class="card-title"><a class="btn btn-primary-outline waves-effect" routerLink="/playground">Why not?</a></h4>
            <p class="card-text">My canvas: A simple playground that may change from time to time. ¯\_(ツ)_/¯</p>
            <p class="card-text"><small class="text-muted">Source: https://git.io/vPvQU</small></p>
        </div>
    </div>
    <div id="social-nav" class="card">
        <div class="img-fluid canvas-holder"><canvas id="social-canvas" class="img-fluid"></canvas></div>
        <div class="card-block">
            <h4 class="card-title"><a class="btn btn-primary-outline waves-effect" routerLink="/social"> On the Web</a></h4>
            <p class="card-text">You can find me on a few places on the web.</p>
            <p class="card-text"><small class="text-muted">Source: https://git.io/vPvQL</small></p>
        </div>
    </div>
</div>

<!-- Hidden videos bellow this point -->
<video width="512" height="341" id="portfolio-vid" poster="images/portfolio.png" controls="" loop="" muted="" loop="">
            <source src="videos/portfolio.mp4">
            <source src="videos/portfolio.webm">
            <p class="warning">Your browser does not support HTML5 video.</p>
</video>
<video width="512" height="341" id="blog-vid" poster="images/blog.png" controls="" loop="" muted="" loop="">
            <source src="videos/blog.mp4">
            <source src="videos/blog.webm">
            <p class="warning">Your browser does not support HTML5 video.</p>
</video>
<video width="512" height="341" id="playground-vid" poster="images/playground.png" controls="" loop="" muted="" loop="">
              <source src="videos/playground.mp4">
              <source src="videos/playground.webm">
              <p class="warning">Your browser does not support HTML5 video.</p>
</video>
<video width="512" height="341" id="social-vid" poster="images/social.png" controls="" loop="" muted="" loop="">
              <source src="videos/social.mp4">
              <source src="videos/social.webm">
              <p class="warning">Your browser does not support HTML5 video.</p>
</video>
