<div class="well well-sm " style="height:100px">
  <div class="card z-depth-5 flex-center ">
      <div class="card-block ">
          <h4 class="card-title">
            <a class="btn btn-info-outline waves-effect" routerLink="/portfolio">Projects</a>
            <a class="btn btn-info-outline waves-effect" routerLink="/experience">Experience</a>
          </h4>
      </div>
  </div>
</div>

<div class="well well-lg  ">

  <h4 class=" col-md-12 btn btn-secondary btn-lg waves-effect waves-light">Some active Projects</h4>
  <!--Card-->
  <div class="card col-md-5  offset-sm-1">

      <!--Card image-->
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
          <!--Title-->
          <h4 class="card-title">FIRSTMastery</h4>
          <!--Text-->
          <p class="card-text">FIRSTMastery is a crowdsourced learning platform currently under development. The goal is to have
            an easily accessible platform where all can contribute. With Lesson versioning, people can consume the latest best materials.
           With the flexibility of the content types, any kind of material can be used to teach such as PDFs, Videos, Powerpoints, Games etc..</p>
          <a href="https://github.com/wilfriedE/FIRSTMastery/tree/rails-implementation" class="btn btn-primary">Check it out </a>
          <p class="card-text"><small class="text-muted">(*rails-implementation* is the current active branch )</small></p>
      </div>
      <!--/.Card content-->

  </div>

  <div class="card  col-md-5">

      <!--Card image-->
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
          <!--Title-->
          <h4 class="card-title">LearnIt</h4>
          <!--Text-->
          <p class="card-text">LearnIt is the main implementation of the learning platform that FIRSTMastery will diverge from.
            LearnIt will become an upstream of FIRSTMastery and anyone who wants to run a similar platform can just setup LearnIt and
            reconfigure it to their own settings.</p>
          <a href="https://github.com/wilfriedE/LearnIt" class="btn btn-primary">Check it out</a>
      </div>
      <!--/.Card content-->

  </div>
  <div class="col-md-1"></div>
  <!--/.Card-->
  <h4 class="col-md-12 btn btn-secondary btn-lg waves-effect waves-light">Some other Projects</h4>
  <!--Card-->
  <div class="card  col-md-5  offset-sm-1">

      <!--Card image-->
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
          <!--Title-->
          <h4 class="card-title">Iris</h4>
          <!--Text-->
          <p class="card-text">A multi directional laser pointer, using an Arduino, Android and Servos.</p>
          <a href="https://github.com/wilfriedE/IrisCore" class="btn btn-primary">Core</a> |
          <a href="https://github.com/wilfriedE/IrisServer" class="btn btn-primary">Server</a> |
          <a href="https://github.com/ColdSauce/Iris" class="btn btn-primary">Eye Recognition</a> |
          <a href="https://github.com/jmiller656/Iris-Voice" class="btn btn-primary">Voice Commands</a>
      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card-->
  <!--Card-->
  <div class="card  col-md-5">

      <!--Card image-->
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
          <!--Title-->
          <h4 class="card-title">Co-Labs</h4>
          <!--Text-->
          <p class="card-text">CoLabs provides a sleek interface that allows developers to research and code together in realtime, all in one tab.</p>
          <a href="https://github.com/Memsy/Co-Labs" class="btn btn-primary">Check it out</a>
      </div>
      <!--/.Card content-->

  </div>
  <div class="col-md-1"></div>
  <!--/.Card-->
</div>
