<div class="well well-sm " style="height:300px">
  <div class="card z-depth-5 flex-center ">
      <div class="card-block ">
          <h4 class="card-title">
            <a href="https://www.linkedin.com/in/wilfried-hounyo-22434356" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> |
            <a href="https://github.com/wilfriedE" ><i class="fa fa-github" aria-hidden="true"></i> Github </a> |
            <a href="https://twitter.com/wilfolus" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> |
            <a href="mailto:me@wilfriede.me" ><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a>
          </h4>
          <p class="card-text"><small class="text-muted">Source: https://git.io/vPvQn</small></p>
      </div>
  </div>
</div>
